
/* 投影片轉場 */
.transition-icon {
        height: 32px;
        width: 32px;
        margin: 2px 2px;
        display: block;
}
.animationeffects { background: url('images/cmd/animationeffects.svg') no-repeat center/contain !important;}

.insertdraw { background: url('images/cmd/insertdraw.svg') no-repeat center/contain !important;}

.frame01 { background: url('images/fr01.svg') no-repeat center/contain !important;}
.frame02 { background: url('images/fr02.svg') no-repeat center/contain !important;}
.frame03 { background: url('images/fr03.svg') no-repeat center/contain !important;}
.frame04 { background: url('images/fr04.svg') no-repeat center/contain !important;}
.frame05 { background: url('images/fr05.svg') no-repeat center/contain !important;}
.frame06 { background: url('images/fr06.svg') no-repeat center/contain !important;}
.frame07 { background: url('images/fr07.svg') no-repeat center/contain !important;}
.frame08 { background: url('images/fr08.svg') no-repeat center/contain !important;}
.frame09 { background: url('images/fr09.svg') no-repeat center/contain !important;}
.frame10 { background: url('images/fr010.svg') no-repeat center/contain !important;}
.frame11 { background: url('images/fr011.svg') no-repeat center/contain !important;}
.frame12 { background: url('images/fr012.svg') no-repeat center/contain !important;}
.frame13 { width: 108px !important;}
#div-frame13 { width: 102px; height: 18px; text-align: center; display: table-cell; vertical-align: middle; cursor: default;}

.iconset00 { background: url('images/icon-set-colorarrows-down.svg') no-repeat, url('images/icon-set-colorarrows-same.svg') no-repeat, url('images/icon-set-colorarrows-up.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset01 { background: url('images/icon-set-grayarrows-down.svg') no-repeat, url('images/icon-set-grayarrows-same.svg') no-repeat, url('images/icon-set-grayarrows-up.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset02 { background: url('images/icon-set-flags-red.svg') no-repeat, url('images/icon-set-flags-yellow.svg') no-repeat, url('images/icon-set-flags-green.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset03 { background: url('images/icon-set-circles1-red.svg') no-repeat, url('images/icon-set-circles1-yellow.svg') no-repeat, url('images/icon-set-circles1-green.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset04 { background: url('images/icon-set-trafficlights-red.svg') no-repeat, url('images/icon-set-trafficlights-yellow.svg') no-repeat, url('images/icon-set-trafficlights-green.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset05 { background: url('images/icon-set-shapes-diamond.svg') no-repeat, url('images/icon-set-shapes-triangle.svg') no-repeat, url('images/icon-set-shapes-circle.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset06 { background: url('images/icon-set-symbols1-cross.svg') no-repeat, url('images/icon-set-symbols1-exclamation-mark.svg') no-repeat, url('images/icon-set-symbols1-check.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
/* Avoid the iconset07, the core renders it the same as iconset06, no need to support it in the online.
.iconset07 { background: url('images/icon-set-symbols1-cross.svg') no-repeat, url('images/icon-set-symbols1-exclamation-mark.svg') no-repeat, url('images/icon-set-symbols1-check.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}*/
.iconset08 { background: url('images/icon-set-positive-yellow-smilie.svg') no-repeat, url('images/icon-set-neutral-yellow-smilie.svg') no-repeat, url('images/icon-set-negative-yellow-smilie.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset09 { background: url('images/icon-set-stars-empty.svg') no-repeat, url('images/icon-set-stars-half.svg') no-repeat, url('images/icon-set-stars-full.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset10 { background: url('images/icon-set-triangles-down.svg') no-repeat, url('images/icon-set-triangles-same.svg') no-repeat, url('images/icon-set-triangles-up.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset11 { background: url('images/icon-set-positive-green-smilie.svg') no-repeat, url('images/icon-set-neutral-yellow-smilie.svg') no-repeat, url('images/icon-set-negative-red-smilie.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center !important;
                                      width: 94px !important;}
.iconset12 { background: url('images/icon-set-colorarrows-down.svg') no-repeat, url('images/icon-set-colorarrows-slightly-down.svg') no-repeat, url('images/icon-set-colorarrows-slightly-up.svg') no-repeat, url('images/icon-set-colorarrows-up.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center !important;
                                      width: 94px !important;}
.iconset13 { background: url('images/icon-set-grayarrows-down.svg') no-repeat, url('images/icon-set-grayarrows-slightly-down.svg') no-repeat, url('images/icon-set-grayarrows-slightly-up.svg') no-repeat, url('images/icon-set-grayarrows-up.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center !important;
                                      width: 94px !important;}
.iconset14 { background: url('images/icon-set-circles2-dark-gray.svg') no-repeat, url('images/icon-set-circles2-light-gray.svg') no-repeat, url('images/icon-set-circles2-light-red.svg') no-repeat, url('images/icon-set-circles2-dark-red.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center !important;
                                      width: 94px !important;}
.iconset15 { background: url('images/icon-set-bars-one-quarter.svg') no-repeat, url('images/icon-set-bars-half.svg') no-repeat, url('images/icon-set-bars-three-quarters.svg') no-repeat, url('images/icon-set-bars-full.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center !important;
                                      width: 94px !important;}
.iconset16 { background: url('images/icon-set-circles1-gray.svg') no-repeat, url('images/icon-set-circles1-red.svg') no-repeat, url('images/icon-set-circles1-yellow.svg') no-repeat, url('images/icon-set-circles1-green.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center !important;
                                      width: 94px !important;}
.iconset17 { background: url('images/icon-set-colorarrows-down.svg') no-repeat, url('images/icon-set-colorarrows-slightly-down.svg') no-repeat, url('images/icon-set-colorarrows-same.svg') no-repeat, url('images/icon-set-colorarrows-slightly-up.svg') no-repeat, url('images/icon-set-colorarrows-up.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center, 74px center !important;
                                      width: 94px !important;}
.iconset18 { background: url('images/icon-set-grayarrows-down.svg') no-repeat, url('images/icon-set-grayarrows-slightly-down.svg') no-repeat, url('images/icon-set-grayarrows-same.svg') no-repeat, url('images/icon-set-grayarrows-slightly-up.svg') no-repeat, url('images/icon-set-grayarrows-up.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center, 74px center !important;
                                      width: 94px !important;}
.iconset19 { background: url('images/icon-set-bars-empty.svg') no-repeat, url('images/icon-set-bars-one-quarter.svg') no-repeat, url('images/icon-set-bars-half.svg') no-repeat, url('images/icon-set-bars-three-quarters.svg') no-repeat, url('images/icon-set-bars-full.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center, 74px center !important;
                                      width: 94px !important;}
.iconset20 { background: url('images/icon-set-pies-empty.svg') no-repeat, url('images/icon-set-pies-one-quarter.svg') no-repeat, url('images/icon-set-pies-half.svg') no-repeat, url('images/icon-set-pies-three-quarters.svg') no-repeat, url('images/icon-set-pies-full.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center, 74px center !important;
                                      width: 94px !important;}
.iconset21 { background: url('images/icon-set-squares-empty.svg') no-repeat, url('images/icon-set-squares-one-quarter.svg') no-repeat, url('images/icon-set-squares-half.svg') no-repeat, url('images/icon-set-squares-three-quarters.svg') no-repeat, url('images/icon-set-squares-full.svg') no-repeat !important;
                       background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px, 16px 16px !important;
                       background-position: 2px center, 20px center, 38px center, 56px center, 74px center !important;
                                      width: 94px !important;}

.ossiilogo {background: url('images/ossii.png') no-repeat center/contain !important;}
.accepttrackedchanges{ background: url('images/cmd/ok.svg') no-repeat center/contain !important;}
.alignblock{ background: url('images/cmd/alignblock.svg') no-repeat center/contain !important;}
.alignhorizontal{ background: url('images/cmd/alignhorizontalcenter.svg') no-repeat center/contain !important;}
.alignleft{ background: url('images/cmd/alignleft.svg') no-repeat center/contain !important;}
.alignright{ background: url('images/cmd/alignright.svg') no-repeat center/contain !important;}
.aligntop{ background: url('images/cmd/aligntop.svg') no-repeat center/contain !important;}
.alignmiddle{ background: url('images/cmd/alignmiddle.svg') no-repeat center/contain !important;}
.alignbottom{ background: url('images/cmd/alignbottom.svg') no-repeat center/contain !important;}
.functionwizard{ background: url('images/cmd/dbviewfunctions.svg') no-repeat center/contain !important;}
.autosum{ background: url('images/cmd/autosum.svg') no-repeat center/contain !important;}
.backcolor{ background: url('images/cmd/backcolor.svg') no-repeat center/contain !important;}
.bold{ background: url('images/cmd/bold.svg') no-repeat center/contain !important;}
.annotation{ background: url('images/cmd/showannotations.svg') no-repeat center/contain !important;}
.insertannotation{ background: url('images/cmd/shownote.svg') no-repeat center/contain !important;}
.inserthyperlink{ background: url('images/cmd/inserthyperlink.svg') no-repeat center/contain !important;}
.bullet{ background: url('images/cmd/defaultbullet.svg') no-repeat center/contain !important;}
.cancel{ background: url('images/cmd/cancel.svg') no-repeat center/contain !important;}
.fontcolor{ background: url('images/cmd/color.svg') no-repeat center/contain !important;}
.decrementindent{ background: url('images/cmd/decrementindent.svg') no-repeat center/contain !important;}
.deletepage{ background: url('images/cmd/deletepage.svg') no-repeat center/contain !important;}
.duplicatepage{ background: url('images/cmd/duplicatepage.svg') no-repeat center/contain !important;}
.edit{ background: url('images/cmd/editdoc.svg') no-repeat center/contain !important;}
.equal{ background: url('images/lc26049.svg') no-repeat center/contain !important;}
.incrementindent{ background: url('images/cmd/decrementlevel.svg') no-repeat center/contain !important;}
.insertpage{ background: url('images/cmd/insertpage.svg') no-repeat center/contain !important;}
.insertsheet{ background: url('images/cmd/insertspreadsheet.svg') no-repeat center/contain !important;}
.italic{ background: url('images/cmd/italic.svg') no-repeat center/contain !important;}
.insertgraphic{ background: url('images/cmd/insertgraphic.svg') no-repeat center/contain !important;}
.inserttable{ background: url('images/cmd/inserttable.svg') no-repeat center/contain !important;}
.setborderstyle{ background: url('images/cmd/setborderstyle.svg') no-repeat center/contain !important;}
.conditionalformatdialog{ background: url('images/cmd/conditionalformatdialog.svg') no-repeat center/contain !important;}
.next{ background: url('images/lc_movedown.svg') no-repeat center/contain !important;}
.numbering{ background: url('images/cmd/defaultnumbering.svg') no-repeat center/contain !important;}
.presentation{ background: url('images/cmd/presentation.svg') no-repeat center/contain !important;}
.prev{ background: url('images/lc_moveup.svg') no-repeat center/contain !important;}
.print{ background: url('images/cmd/print.svg') no-repeat center/contain !important;}
.redo{ background: url('images/cmd/redo.svg') no-repeat center/contain !important;}
.copyformat{ background: url('images/cmd/formatpaintbrush.svg') no-repeat center/contain !important;}
.deleteformat{ background: url('images/cmd/resetattributes.svg') no-repeat center/contain !important;}
.linespacing{ background: url('images/cmd/spacepara15.svg') no-repeat center/contain !important;}
.save{ background: url('images/cmd/save.svg') no-repeat center/contain !important;}
.saveas{ background: url('images/cmd/saveas.svg') no-repeat center/contain !important;}
.savemodified{ background: url('images/savemodified_large.svg') no-repeat center/contain !important;}
.strikeout{ background: url('images/cmd/strikeout.svg') no-repeat center/contain !important;}
.underline{ background: url('images/cmd/underline.svg') no-repeat center/contain !important;}
.undo{ background: url('images/cmd/undo.svg') no-repeat center/contain !important;}
.zoomin{ background: url('images/cmd/zoomin.svg') no-repeat center/contain !important;}
.zoomout{ background: url('images/cmd/zoomout.svg') no-repeat center/contain !important;}
.zoomreset{ background: url('images/cmd/zoom100percent.svg') no-repeat center/contain !important;}
.keyboard{ background: url('images/keyboard.svg') no-repeat center/contain !important;}
.keyboard_hide{ background: url('images/keyboard_hide.svg') no-repeat center/contain !important;}

.mobilecut{ background: url('images/cmd/cut.svg') no-repeat center/contain !important;}
.mobilecopy{ background: url('images/cmd/copy.svg') no-repeat center/contain !important;}
.mobilepaste{ background: url('images/cmd/paste.svg') no-repeat center/contain !important;}
.search{ background: url('images/cmd/recsearch.svg') no-repeat center/contain !important;}
.more{ background: url('images/cmd/downsearch.svg') no-repeat center/contain !important;}
.firstrecord{ background: url('images/cmd/firstrecord.svg') no-repeat center/contain !important;}
.nextrecord{ background: url('images/cmd/nextrecord.svg') no-repeat center/contain !important;}
.prevrecord{ background: url('images/cmd/prevrecord.svg') no-repeat center/contain !important;}
.lastrecord{ background: url('images/cmd/lastrecord.svg') no-repeat center/contain !important;}
.wraptext{ background: url('images/cmd/wraptext.svg') no-repeat center/contain !important;}
.togglemergecells{ background: url('images/cmd/togglemergecells.svg') no-repeat center/contain !important;}
.numberformatcurrency{ background: url('images/cmd/currencyfield.svg') no-repeat center/contain !important;}
.numberformatpercent{ background: url('images/cmd/numberformatpercent.svg') no-repeat center/contain !important;}
.numberformatdecimal{ background: url('images/cmd/numberformatdecimal.svg') no-repeat center/contain !important;}
.numberformatdate{ background: url('images/cmd/numberformatdate.svg') no-repeat center/contain !important;}
.numberformatincdecimals{ background: url('images/cmd/numberformatincdecimals.svg') no-repeat center/contain !important;}
.numberformatdecdecimals{ background: url('images/cmd/numberformatdecdecimals.svg') no-repeat center/contain !important;}
.sortascending{ background: url('images/cmd/sortascending.svg') no-repeat center/contain !important;}
.sortdescending{ background: url('images/cmd/sortdescending.svg') no-repeat center/contain !important;}
.insertsymbol{ background: url('images/cmd/insertsymbol.svg') no-repeat center/contain !important;}
.fold{ background: url('images/cmd/upsearch.svg') no-repeat center/contain !important;}
.unfold{ background: url('images/cmd/downsearch.svg') no-repeat center/contain !important;}
.hamburger{ background: url('images/hamburger.svg') no-repeat center/contain !important;}
.insertobjectchart{ background: url('images/cmd/drawchart.svg') no-repeat center/contain !important;}
.users{ background: url('images/contacts-dark.svg') no-repeat center/contain !important;}
.fullscreen{ background: url('images/cmd/fullscreen.svg') no-repeat center/contain !important;}
.closemobile{ background: url('images/lc_closedocmobile.svg') no-repeat center/contain !important;}
.datadatapilotrun{ background: url('images/cmd/datadatapilotrun.svg') no-repeat center/contain !important;}
.movepagefirst{ background: url('images/cmd/movepagefirst.svg') no-repeat center/contain !important;}
.movepageup{ background: url('images/cmd/upsearch.svg') no-repeat center/contain !important;}
.movepagedown{ background: url('images/cmd/downsearch.svg') no-repeat center/contain !important;}
.movepagelast{ background: url('images/cmd/movepagelast.svg') no-repeat center/contain !important;}
.movepage{ background: url('images/cmd/movepage.svg') no-repeat center/contain !important;}
.gotopage{ background: url('images/cmd/gotopage.svg') no-repeat center/contain !important;}

