#document-container.parts-preview-document {
        left: 250px;
	bottom: 37px;
}

#document-container.parts-preview-document.readonly {
	bottom: 0px;
}

#slide-sorter {
	width: 249px;
	height: 100%;
}

.preview-frame {
	float: left;
	border: 2px solid rgba(0,0,0,0);
	margin: 0.5em 0 0.5em 4px;
	padding: 2px;
	height: 140px;
}

.preview-frame-selected {
	border-color: rgb(108, 135, 157);
	background-color: rgb(148, 196, 233);
}

.preview-info-wrapper {
	position: relative;
	float: left;
	width: 30px;
	margin-right: 2px;
}

.preview-helper {
	position: absolute;
	width:100%;
	top: 1px;
	font-size: 14px;
	text-align: right;
	color: #d86344;
}

.preview-animation {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 0px;
	bottom: 18px;
	background: url('images/res/click_16.svg') no-repeat center/contain;
}

.preview-transition {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 0px;
	bottom: 1px;
	background: url('images/res/fade_effect_indicator.svg') no-repeat center/contain;
}


.preview-img {
	/* In draw docs, the width of previews are small, but we want a min of 180px to align it with document's left edge */
	float: left;
    width: 180px;
	cursor: pointer;
	border: 2px solid #f0f0f0;
}

.preview-img-blur {
	-webkit-filter: grayscale(100%) blur(1px);
	filter: grayscale(100%) blur(1px);
}

.mCSB_container {
	margin-right: 0px !important;
}

