#document-container.parts-preview-document {
        left: 250px;
	bottom: 37px;
}

#document-container.parts-preview-document.readonly {
	bottom: 0px;
}

#slide-sorter {
	height: 100%;
}

.preview-frame {
	width: 250px;
	margin: 1em 0;
	padding: 0;
}

.preview-info-wrapper {
	display:inline-block;
	position: relative;
	width: 40px;
	margin-right: 4px;
	vertical-align: top;
}

.preview-helper {
	position: absolute;
	width:100%;
	top: 1px;
	font-size: 14px;
	text-align: right;
	color: #d86344;
}

.preview-animation {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 0px;
	bottom: 18px;
	background: url('images/res/click_16.svg') no-repeat center/contain;
}

.preview-transition {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 0px;
	bottom: 1px;
	background: url('images/res/fade_effect_indicator.svg') no-repeat center/contain;
}


.preview-img {
	/* In draw docs, the width of previews are small, but we want a min of 180px to align it with document's left edge */
        min-width: 180px;
	vertical-align: middle;
	max-width: 184px;
	cursor: pointer;
	border: 2px solid #f0f0f0;
}

.preview-img-selected {
	border-color: #d86344;
}

.preview-img-blur {
	-webkit-filter: grayscale(100%) blur(1px);
	filter: grayscale(100%) blur(1px);
}

.mCSB_container {
	margin-right: 0px !important;
}

