#document-container.parts-preview-document {
        left: 250px;
	bottom: 37px;
}

#slide-sorter {
	height: 100%;
}

.preview-frame {
	width: 250px;
	white-space: nowrap;
	text-align: center;
	margin: 1em 0;
}

.preview-helper {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	font-size: 14px;
	color: #d86344;
	margin-right: 4px;
}

.preview-slide-no {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.preview-img {
	/* In draw docs, the width of previews are small, but we want a min of 180px to align it with document's left edge */
        min-width: 180px;
	vertical-align: middle;
	max-width: 184px;
	cursor: pointer;
	border: 2px solid #f0f0f0;
}

.preview-img-selected {
	border-color: #d86344;
}

.mCSB_container {
	margin-right: 0px !important;
}

