#document-container.spreadsheet-document {
        border-top: 1px solid #B6B6B6;
        top: 133px;
        left: 50px;
        bottom: 74px;
}

#document-container.spreadsheet-document.tablet,
#document-container.spreadsheet-document.readonly,
#document-container.spreadsheet-document.readonly.tablet {
        top: 102px;
}

.spreadsheet-tabs-container {
	margin: 0;
	padding: 0;
	left: 162px;
	right: 0;
	bottom: 37px;
	position: absolute;
	cursor: pointer;
	height: 36px;
	overflow: hidden;
	white-space: nowrap;
	background-color: #fafafa;
	}

.spreadsheet-tabs-container.mobile-view {
	bottom: 0px;
}

.spreadsheet-tabs-container.mobile-edit {
	left: 32px;
}


.spreadsheet-tab-scroll {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-bottom: 20px; /* to hide the scroolbar */
	}

.spreadsheet-tab {
	margin: 0px;
	margin-top: 2px;
	margin-right: 3px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 14px;
	display: inline-block;
	border: 1px solid darkgrey;
	background-color: #f0f0f0;
	color: black;
	}

.spreadsheet-tab-selected {
	background: white !important;
	color: black !important;
	margin-top: 0px;
	padding-top: 6px;
	border: 1px solid #dfdfdf;
	border-top: 0px;
	font-size: 14px;
	border-bottom: 3px solid #008000;
	}

#spreadsheet-row-column-frame {
	position: absolute;
	left: 0;
	right: 0;
	top: 113px;
	bottom: 73px;
}

#spreadsheet-row-column-frame.readonly {
        top: 31px;
}

#spreadsheet-row-column-frame.tablet,
#spreadsheet-row-column-frame.readonly.tablet {
        top: 82px;
}

#spreadsheet-header-corner-container {
	border: 1px solid darkgrey;
	background-color: #f0f0f0;
	cursor: pointer;

	position: absolute;
	padding: 0px;
	margin: 0px;
	left: 0px;
	top: 0;
	width: 48px;
	height: 19px;
	}

#spreadsheet-header-corner {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	border-spacing: 0px !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	}

.spreadsheet-header-corner-styles {
	border: 1px solid darkgray;
	font: 12px/1.5 "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
	color: black;
	background-color: lightgray;
	cursor: pointer;
	}

#spreadsheet-header-columns-container {
	border: 1px solid #bbbbbb;
	background-color: #f0f0f0;

	position: absolute;
	display: inline-block;
	white-space: nowrap;
	left: 49px;
	top: 0;
	right: 0;
	height: 19px;
	overflow: hidden;
	}

.spreadsheet-header-columns {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	border-spacing: 0px !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	}

.spreadsheet-header-column {
	border: 1px solid #bbbbbb;
	background-color: #f0f0f0;
	font: 12px/1.5 "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
	color: black;
	cursor: pointer;
}

.spreadsheet-header-column-hover {
	background-color: #DDD;
}

.spreadsheet-header-column-selected {
	color: white;
	background: linear-gradient(#3465A4, #729FCF, #004586);
}

.spreadsheet-header-column-resize {
	cursor: col-resize;
}

#spreadsheet-header-rows-container {
	border: 1px solid #bbbbbb;
	background-color: #f0f0f0;

	position: absolute;
	left: 0;
	top: 20px;
	width: 48px;
	bottom: 0;
	overflow: hidden;
	}

.spreadsheet-header-rows {
	width: 100%;
	height: 100%;
	border-spacing: 0px !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	}

.spreadsheet-header-row {
	border: 1px solid #bbbbbb;
	background-color: #f0f0f0;
	font-size: 14px;
	color: black;
	font: 12px/1.5 "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
	cursor: pointer;
	}

.spreadsheet-header-row-hover {
	background-color: #DDD;
	}

.spreadsheet-header-row-selected {
	color: white;
	background: linear-gradient(#3465A4, #729FCF, #004586);
	}

.spreadsheet-header-row-resize {
	cursor: row-resize;
	}

.spreadsheet-cell-resize-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 16px;
	height: 16px;
	background-image: url('images/cell-resize-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.spreadsheet-cell-autofill-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 16px;
	height: 16px;
	background-image: url('images/cell-autofill-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.spreadsheet-drop-down-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 18px;
	height: 17px;
	background-image: url('images/drop-down-button.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}

@media (max-width: 767px) {
	#spreadsheet-row-column-frame {
		top: 73px;
		bottom: 37px;
	}

	#spreadsheet-row-column-frame.readonly {
		top: 41px;
	}
}
