# Editor backup files etc
*~
\#*

# Autofoo
.deps
.libs
.dirstamp
.clang_complete
.cxx_tags
.yavide_proj
.yavide_session
.vscode
Makefile
Makefile.in
oxoolwsd.spec
oxoolwsd.xml
oxool.pc
aclocal.m4
autom4te.cache
config.h
config.h.in
ios/config.h
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4
common/support-public-key.hpp

# Test stuff
systemplate
test-driver
jails
cache
test/fakesockettest
test/data/hello-world.odt
test/data/hello-world.ods
test/data/hello-world.odp

*.o
*.exe
cscope*
*.orig
*.log.*.gz
*.lo
*.la

# loleaflet
loleaflet/dist
loleaflet/node_modules
loleaflet/npm-shrinkwrap.json

connect
lokitclient
oxoolwsd
oxoolforkit
oxoolmount
oxoolmap
oxoolconvert
oxoolsocketdump
oxoolstress
oxoolconfig
loolforkit-nocaps
loadtest
unittest
oxoolwsd_fuzzer
clientnb

# make tags
tags
test/tags
TAGS
test/TAGS

docker/instdir
docker/builddir

Mobile/Mobile/Info.plist

# symlinks created by configure for the iOS app Xcode project
lobuilddir-symlink
pocoinclude-symlink
pocolib-symlink
ICU.dat
Mobile/Mobile/Assets.xcassets/AppIcon.appiconset
debian/oxool.postinst
oxool
oxool_fuzzer
oxool.spec
oxool.xml
