[Unit]
Description=OxOffice Online WebSocket Daemon
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/oxoolwsd
ExecStart=/usr/bin/oxoolwsd
KillSignal=SIGINT
TimeoutStopSec=120
User=lool
KillMode=control-group
Restart=always
LimitNOFILE=infinity:infinity

#ProtectSystem=strict
#ReadWritePaths=/etc/oxool /usr/share/fonts/oxool /opt/oxool /var/log

ProtectHome=yes
PrivateTmp=yes
ProtectControlGroups=yes
CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_AUDIT_WRITE CAP_DAC_OVERRIDE CAP_NET_BIND_SERVICE CAP_FOWNER CAP_CHOWN CAP_MKNOD CAP_SYS_CHROOT CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target
