[Unit]
Description=OxOffice Online WebSocket Daemon
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/oxool
ExecStart=/usr/bin/oxool
KillSignal=SIGINT
TimeoutStopSec=120
User=lool
KillMode=control-group
Restart=always
LimitNOFILE=infinity:infinity
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
