Source: oxool
Section: web
Priority: optional
Maintainer: Firefly <firefly@ossii.com.tw>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.3), libcap-dev, libcap2-bin, libpcre3-dev, libpng-dev, libpoco-dev (>= 1.7.5), linux-libc-dev, libfontconfig1-dev, libpam-dev, libcppunit-dev, pkg-config, devscripts
Standards-Version: 3.9.7

Package: oxool
Section: web
Architecture: any
Depends: libpococrypto60, libpocodata60, libpocodatamysql60, libpocodataodbc60, libpocodatasqlite60, libpocoencodings60, libpocofoundation60, libpocojson60, libpocomongodb60, libpoconet60, libpoconetssl60, libpocoredis60, libpocoutil60, libpocoxml60, libpocozip60, ${shlibs:Depends}, ${misc:Depends}, adduser, fontconfig, libsm6, libssl1.0.0, libodbc1, libxinerama1, libxrender1, libcairo2, libgl1-mesa-glx, libcups2, libdbus-glib-1-2, cpio, libcap2-bin, oxoffice8, libgumbo1, ${lo:Depends}
Description: OxOffice Online WebSocket Daemon
 oxool is a daemon that talks to web browser clients and provides OxOffice
 services.

Package: oxool-dev
Architecture: any
Multi-Arch: same
Description: OxOffice Online SDK
