#!/usr/bin/make -f

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/default.mk

CONFFLAGS = --enable-silent-rules --prefix=/usr --libdir=/usr/lib --localstatedir=/var --sysconfdir=/etc --with-lokit-path=`pwd`/bundled/include --disable-setcap --disable-debug --enable-ssl -with-max-documents=8192 --with-max-connections=8192 --with-lo-path=/opt/oxoffice $(CONFIG_OPTIONS)

# main packaging script based on dh7 syntax
%:
	dh $@ --with=systemd --parallel

override_dh_auto_configure:
	./autogen.sh
	./configure $(CONFFLAGS)

override_dh_auto_test:
	# do not test

override_dh_installinit:
	# no init.d scripts here, assume systemd
	
override_dh_auto_install:
	dh_auto_install
	
override_dh_install:
	dh_install
