Source: %PACKAGE_TARNAME%
Section: web
Priority: optional
Maintainer: %MODULE_AUTHOR%
Build-Depends: %OXOOL_NAME%-dev (>= 4.0.0)
Standards-Version: 3.9.7

Package: %PACKAGE_TARNAME%
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %OXOOL_NAME% (>= 4.0.0)
Description: %MODULE_DESCRIPTION%
